<ion-view view-title="">
  <ion-content>

    <button class="button button-block button-stable" ng-click="editItem()">
      {{itemName}}
    </button>

    <ion-list>

      <ion-item ng-repeat="value in values" style="padding-top: 0; padding-bottom: 0;">
        <div class="row" style="padding-top: 0; padding-bottom: 0;">
          <div class="col col-40" style="padding: 4px; font-size: smaller">{{value.caption}}</div>
          <div class="col col-60" style="padding: 4px; font-size: smaller">{{value.uiValue}}</div>
        </div>
      </ion-item>

    </ion-list>

    <!--
    <div class="item card" style="padding: 0; margin-top: 0;margin-bottom: 0">
      <button class="button button-small button-stable button-block">{{item.name}}</button>
      <div class="row" ng-repeat="prop in properties" style="padding: 0">
        <div class="col col-40" style="padding: 4px; font-size: smaller">{{prop.display}}</div>
        <div class="col col-60" style="padding: 4px; font-size: smaller">{{getValue(item,prop)}}</div>
      </div>
    </div>
    -->


  </ion-content>
</ion-view>

