<ion-view view-title="">

  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button button-icon icon" ng-class="edit?'ion-ios-checkmark-outline':'ion-ios-compose-outline'" ng-click="toggleEdit()"></button>
    </div>
  </ion-nav-buttons>

  <!-- ion-ios-compose-outline  ion-ios-checkmark-outline / ion-checkmark ion-edit -->

  <ion-content class="has-footer">

    <ion-list ng-if="isTabSelected('data')">

      <ion-item ng-repeat="value in values" style="padding-top: 0; padding-bottom: 0;">
        <div class="row" style="height: 40px">
          <span class="col col-50">{{value.caption}}</span>

          <!-- Browse part -->
          <span ng-if="!edit" class="col col-50">{{value.value}}</span>

          <!-- Edit part -->
          <label ng-if="edit" class="col col-50" style="padding: 0" >
            <input ng-if="value.edit" type="text" ng-model="value.value" style="background-color: beige">
            <select ng-if="value.options" ng-model="value.value" class="col col-50" style="border: none; background-color: beige">
              <option ng-repeat="opt in value.options" value="{{opt}}">{{opt}}</option>
            </select>

          </label>

        </div>
      </ion-item>

    </ion-list>

    <div ng-if="isTabSelected('comments')"></div>
    <div ng-if="isTabSelected('gallery')"></div>
    <div ng-if="isTabSelected('location')"></div>


  </ion-content>


  <ion-footer-bar style="padding: 0">
    <div class="tabs tabs-striped">
      <a class="tab-item" ng-class="{active:isTabSelected('data')}" ng-click="selectTab('data')">
        Data
      </a>
      <a class="tab-item" ng-class="{active:isTabSelected('comments')}" ng-click="selectTab('comments')">
        Comments
      </a>
      <a class="tab-item" ng-class="{active:isTabSelected('gallery')}" ng-click="selectTab('gallery')">
        Gallery
      </a>
      <a class="tab-item" ng-class="{active:isTabSelected('location')}" ng-click="selectTab('location')">
        Location
      </a>
    </div>
  </ion-footer-bar>

</ion-view>

