<ion-view view-title="">

  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button button-icon icon" ng-class="edit?'ion-ios-checkmark-outline':'ion-ios-compose-outline'" ng-click="toggleEdit()"></button>
    </div>
  </ion-nav-buttons>

  <!-- ion-ios-compose-outline  ion-ios-checkmark-outline / ion-checkmark ion-edit -->

  <ion-content class="has-footer">


    <div class="list" ng-if="isTabSelected('data')">


      <label class="item item-input" ng-repeat="value in values">
        <span class="input-label">{{value.caption}}</span>

        <span ng-if="!edit">{{value.value}}</span>

        <input ng-if="edit && value.edit" type="text" ng-model="value.value">
        <select ng-if="edit && value.options" ng-model="value.value" style="border: none;">
          <option ng-repeat="opt in value.options" value="{{opt}}">{{opt}}</option>
        </select>

      </label>

    </div>

    <div class="list" ng-if="isTabSelected('notes')">

      <label ng-if="edit" class="item item-input" style="height: 100%">
        <textarea type="text" ng-model="comments.text" placeholder="Enter notes..." rows="80"></textarea>
      </label>

      <p ng-if="!edit" style="padding: 4px">{{comments.text}}</p>

    </div>

    <div ng-if="isTabSelected('gallery')">

    </div>

    <div ng-if="isTabSelected('location')">

    </div>


  </ion-content>


  <ion-footer-bar style="padding: 0">
    <div class="tabs tabs-striped">
      <a class="tab-item" ng-class="{active:isTabSelected('data')}" ng-click="selectTab('data')">
        Data
      </a>
      <a class="tab-item" ng-class="{active:isTabSelected('notes')}" ng-click="selectTab('notes')">
        Notes
      </a>
      <a class="tab-item" ng-class="{active:isTabSelected('gallery')}" ng-click="selectTab('gallery')">
        Gallery
      </a>
      <a class="tab-item" ng-class="{active:isTabSelected('location')}" ng-click="selectTab('location')">
        Location
      </a>
    </div>
  </ion-footer-bar>

</ion-view>

